<section class="row">
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="https://www.youtube.com/embed/Mpht_mOE9NA" frameborder="0" allowfullscreen> </iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Best of Ausbildung | Bundesministerium für Wirtschaft und Energie </h4>
      <p> Informativ und gleichzeitig kunstvoll gestaltet: der
        <strong>Informationsfilm</strong> 'Mikrotechnologie' aus der Reihe
        <strong>Best of Ausbildung</strong> wurde von Birte Buß als Auftrag des Bundesministerium für Wirtschaft und Energie produziert.
        <br>
        <br> Frische Rhythmen aus dem Hause SONOFACTUR schieben das Tempo nach vorne. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/121482690?byline=0" frameborder="0" allowfullscreen> </iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Sómente | Teatro Só</h4>
      <p> Ein poetisches
        <strong>Straßentheaterstück</strong> von Teatro Só über einen einsamen alten Mann. Die Musik ist so komponiert, dass sie das Publikum auf der Straße voll in die Stimmung des Stücks eintauchen lässt. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/19406870?byline=0" frameborder="0" allowfullscreen> </iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Der Ewige Tag | Alternativ Soundtrack</h4>
      <p> Für diesen traurigen, aber wunderbaren
        <strong>Kurzfilm</strong> hatte ich die Gelegenheit einen alternativen Soundtrack zu komponieren. Die neue Vertonung kommt ganz ohne Sound Design aus und die Musik begleitet das Geschehen sehr detailliert, fast wie eine Stummfilmmusik. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/30484757?byline=0" frameborder="0" allowfullscreen> </iframe>
    </li>
    <li class="well col-lg-6">
      <h4>ARK | SoundTrack_Cologne Contest</h4>
      <p> Beim SoundTrack_Cologne
        <strong>Filmmusik</strong> Wettbewerb sollte ein
        <strong>Kurzfilm</strong> neu vertont werden. Eine Animation, deren eindrucksvolle Bilder einfach nach dem Klang des
        <strong>Orchesters</strong> verlangten. Der neue Soundtrack bekam eine Nominierung beim Wettbewerb. Sounddesign – Daniel Leseman </p>
    </li>
  </ul>
  <!-- MUSIC -->
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/123955545?byline=0" frameborder="0" allowfullscreen></iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Headhunters | Freie Komposition</h4>
      <p> Ein dramatisches und treibendes Stück bei dem packende Streicher, eindringliches Klavier und energetische Drums für
        <strong>Spannung</strong> sorgen. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/121482406?byline=0" frameborder="0" allowfullscreen></iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Der Koffer steht bereit | Freie Komposition</h4>
      <p> Das melancholische Klavierspiel in Kombination mit dem leichten Streicherarrangement erzeugt ein
        <strong>filmisches Hörerlebnis</strong>. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/121482405?byline=0" frameborder="0" allowfullscreen></iframe>
    </li>
    <li class="well col-lg-6">
      <h4>366 Days | Freie Komposition</h4>
      <p> Harter
        <strong>Synthiebass</strong>, Synthesizer und groovende
        <strong>Drums</strong> und eine lyrische
        <strong>Bratschenmelodie</strong> als Kontrastprogramm. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/121495597?byline=0" frameborder="0" allowfullscreen></iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Dormir et Oublier | Freie Komposition</h4>
      <p> Eingeleitet von einer atmosphärischen
        <strong>Soundscape</strong> entfaltet sich ein hypnotisierendes
        <strong>Klavierspiel</strong>. </p>
    </li>
  </ul>
</section>
<!-- only for XS
<section class="row visible-xs hidden-sm hidden-md hidden-lg">
  <div class="box col-xs-10 col-xs-offset-1">
    <ul class="flex-container">
      <li class="flex-itemVideo">
        <iframe width="100%" height="330" src="https://www.youtube.com/embed/Mpht_mOE9NA" frameborder="0" allowfullscreen>
              </iframe>
      </li>
      <li class="flex-itemText well">
        <h4>Best auf Ausbildung | Wirtschaftsministerium</h4>
        <p>
            Informtaiv und gleichzeitig kunstvoll gestaltet:
            der <strong>Informationsfilm</strong> Mikrotechnologie aus der Reihe
            <strong>Best of Ausbildung</strong> wurde von Birte Buß als Auftrag
            des Wirtschaftsministeriums produziert.
            <br><br>
            Frische Rhythmen aus dem Hause Sonofactur schieben das Tempo nach vorne.

        </p>
      </li>
    </ul>
    <ul class="flex-container">
      <li class="flex-itemVideo">
        <iframe width="100%" height="330" src="https://www.youtube.com/embed/XPVLMYqKJZU?rel=0" frameborder="0" allowfullscreen>
              </iframe>
      </li>
      <li class="flex-itemText well">
        <h4>Sómente | Teatro Só</h4>
        <p>
            Ein poetisches <strong>Straßentheaterstück</strong> über einen einsamen alten Mann von Teatro Só
            <br>
            Eine wechselnde, jedoch immer kleine, intime Besetzung in der Musik. So entspricht sie der Einfachheit und Klarheit der Bilder, gleichzeitig bleibt sie vielseitig in Textur und Farbe.
            Besonders anfangs ist die Musik von einer melancholischen Schwere geprägt und soll das Publikum auf der Straße voll und ganz in die Stimmung des Stücks eintauchen lassen.
            <br><br>
            <i style="font-style: italic;">Viola – Shasta Ellenbogen</i>
        </p>
      </li>
    </ul>
    <ul class="flex-container">
      <li class="flex-itemVideo">
        <iframe width="100%" height="330" src="//player.vimeo.com/video/19406870?byline=0" frameborder="0" allowfullscreen>
              </iframe>
      </li>
      <li class="flex-itemText well">
        <h4>Der Ewige Tag</h4>
        <p>
            Für diesen traurigen, aber wunderbaren Kurzfilm hatte ich die Gelegenheit einen alternativen Soundtrack zu komponieren.
            <br>
            Die neue Vertonung kommt ganz ohne Sounddesign aus und die Musik begleitet das Geschehen sehr detailliert, fast wie eine Stummfilmmusik.
            <br><br>
            <i style="font-style: italic;">Geige – Pablo Ryan</i>

        </p>
      </li>
    </ul>
    <ul class="flex-container">
      <li class="flex-itemVideo">
        <iframe width="100%" height="330" src="//player.vimeo.com/video/30484757?byline=0" frameborder="0" allowfullscreen>
              </iframe>
      </li>
      <li class="flex-itemText well">
        <h4>ARK | SoundTrack_Cologne Contest 2008 | Nominiert</h4>
        <p>
            Beim SoundTrack_Cologne <strong>Filmmusic</strong> Wettbewerb 2008 sollte ein <strong>Kurzfilm</strong> neu vertont werden.
            Eine düstere Komposition. Orchester um die eindrucksvolle Wirkung der Bilder dieser tollen Animation zu unterstreichen. Akkzente elektronischer Sounds um die industriell anmutende Ästhetik widerzuspiegeln.
            <br>
            Dieser neue Soundtrack bekam eine Nominierung beim Wettbewerb.
            <br><br>
            <i style="font-style: italic;">Sounddesign – Daniel Leseman</i>
        </p>
      </li>
    </ul>
  </div>
</section>

-->
