<section class="row textSite">
  <div class="col-xs-6 col-sm-offset-3 visible-sm visible-md visible-lg">
    <div class="box well">
      <p> Die SONOFACTUR ist das Musikproduktionsstudio von
        <strong>Ferdinand Breil</strong> und hat seinen Sitz im Bethanienhaus in
        <strong>Berlin</strong>. Ferdinand Breil liebt Musik in ihrer großen Vielfalt und er liebt es, eine große Vielfalt an Musik zu komponieren und mit
        <strong>Liebe zum Detail</strong> zu produzieren.
        <br>
        <br> Die SONOFACTUR bietet ein breites Spektrum an Genres und Stilen. Dieses reicht von gefühlvoller
        <strong>Klaviermusik</strong> über pumpende
        <strong>Beats, Indie-Pop Songs</strong> bis hin zu mitreißenden
        <strong>Orchestrationen</strong> und herausfordernden
        <strong>Avantgarde-Klängen</strong>. Ein großes und flexibles Netzwerk an
        <strong>Musikerkollegen</strong> sorgt dafür, dass für jede Produktion die Instumente zur Verfügung stehen, die das gefragte Genre wirklich zum Leben erwecken.
        <br>
        <br> Zusammen mit seinen kreativen Partnern sucht die SONOFACTUR nach den Klängen, die den Bildern das richtige
        <strong>Gefühl</strong>, die perfekte
        <strong>Atmosphäre</strong> und die nötige
        <strong>Dynamik</strong> verleihen. So entsteht die
        <strong>perfekte Symbiose</strong> aus
        <strong>Bild</strong> und
        <strong>Musik</strong>. </p>
    </div>
  </div>
  <div class="visible-xs col-xs-10 col-xs-offset-1">
    <div class="box well">
      <p> Die SONOFACTUR ist das Musikproduktionsstudio von
        <strong>Ferdinand Breil</strong> und hat seinen Sitz im Bethanienhaus in
        <strong>Berlin</strong>. Ferdinand Breil liebt Musik in ihrer großen Vielfalt und er liebt es, eine große Vielfalt an Musik zu komponieren und mit
        <strong>Liebe zum Detail</strong> zu produzieren. Die SONOFACTUR bietet ein breites Spektrum an Genres und Stilen. Dieses reicht von gefühlvoller
        <strong>Klaviermusik</strong> über pumpende
        <strong>Beats, Indie-Pop Songs</strong> bis hin zu mitreißenden
        <strong>Orchestrationen</strong> und herausfordernden
        <strong>Avantgarde-Klängen</strong>. Ein großes und flexibles Netzwerk an
        <strong>Musikerkollegen</strong> sorgt dafür, dass für jede Produktion die Instumente zur Verfügung stehen, die das gefragte Genre wirklich zum Leben erwecken. Zusammen mit seinen kreativen Partnern sucht die SONOFACTUR nach den Klängen, die den Bildern
        das richtige
        <strong>Gefühl</strong>, die perfekte
        <strong>Atmosphäre</strong> und die nötige
        <strong>Dynamik</strong> verleihen. So entsteht die
        <strong>perfekte Symbiose</strong> aus
        <strong>Bild</strong> und
        <strong>Musik</strong>. </p>
    </div>
  </div>
</section>
