<section class="row">
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="https://www.youtube.com/embed/Mpht_mOE9NA" frameborder="0" allowfullscreen> </iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Best auf Ausbildung | Federal Ministry for Economic Affairs and Energy</h4>
      <p> Informative and elaborately crafted at the same time:
        <strong>information film</strong> 'Mikrotechnologie' of the series
        <strong>Best of Ausbildung</strong> was produced by Birte Buß for the Federal Ministry for Economic Affairs and Energy. A fresh beat from SONOFACTUR is providing the right pace. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/121482690?byline=0" frameborder="0" allowfullscreen> </iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Sómente | Teatro Só</h4>
      <p> A poetic
        <strong>street theatre</strong> piece by the group Teatro Só. The music is designed to let the people on the street dive deep into the atmosphere of the piece. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/19406870?byline=0" frameborder="0" allowfullscreen> </iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Der Ewige Tag | Alternative Score</h4>
      <p> For this sad but wonderful short I had the chance to create an alternative score. The new soundtrack is reminiscient of the style of a silent movie score. Following the plot with great detail. This didn’t require any sound design. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/30484757?byline=0" frameborder="0" allowfullscreen> </iframe>
    </li>
    <li class="well col-lg-6">
      <h4>ARK | SoundTrack_Cologne Contest</h4>
      <p> For the SoundTrack_Cologne
        <strong>filmmusic</strong> contest, the participants were provided with a
        <strong>short film</strong> stripped of sound in order to create a new soundtrack for it. The visuals of this amazing animation required music that could equal their grandness and the orchestral sound provided just that. This version made it to the Shortlist.
        Sound design - Daniel Leseman </p>
    </li>
  </ul>
  <!-- MUSIC -->
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/123955545?byline=0" frameborder="0" allowfullscreen></iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Headhunters | Free Composition</h4>
      <p> A dramatic piece with a lot of
        <strong>suspense</strong> created by haunting strings and piano and energetic drums. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/121482406?byline=0" frameborder="0" allowfullscreen></iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Der Koffer steht bereit | Free Composition</h4>
      <p> In this piece a light yet melancholic
        <strong>piano</strong> part is supported by an
        <strong>arrangement of strings</strong> that creates a truly
        <strong>cinematic atmosphere</strong>. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/121482405?byline=0" frameborder="0" allowfullscreen></iframe>
    </li>
    <li class="well col-lg-6">
      <h4>366 days | Free Composition</h4>
      <p> A raw and edgy synth
        <strong>bass</strong> on a pumping
        <strong>beat</strong>. Glitchy synths and string samples. And, as a contrast, a lyric
        <strong>viola</strong> on top of all of this. </p>
    </li>
  </ul>
  <ul class="container-flex col-sm-8 col-sm-offset-2">
    <li class="col-lg-6">
      <iframe width="100%" height="330" src="//player.vimeo.com/video/121495597?byline=0" frameborder="0" allowfullscreen></iframe>
    </li>
    <li class="well col-lg-6">
      <h4>Dormir et Oublier | Free Composition</h4>
      <p> Introduced by an atmospheric
        <strong>soundscape</strong> a hypnotic and slightly melancholic
        <strong>piano</strong> starts to unfurl. </p>
    </li>
  </ul>
</section>
